@import "colors.scss";

.post-card-op, .post-card {
	padding: 10px;
	margin-bottom: 3px;
	overflow: auto;
}

.post-card-op {

}

.post-card {
	background-color:var(--mud-palette-secondary);
	display: table;
}

@media screen and (orientation: portrait) {
	.post-card {
		width: 100%;
	}
}

@media screen and (orientation: landscape) {
	.post-card {
		margin-left: 20px;
		max-width:80%;
	}
}


.post-image {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	max-width: 100%;
}

.post-info {
	margin-bottom:15px;
	min-width:35rem;
}

@media screen and (orientation: portrait) {
	.post-image {
		height:auto;
		width:50px;
	}
}

@media screen and (orientation: landscape) {
	.post-image {

	}
}

.post-image-stretch {
	display: inline-block;
	width: 100%;
}

.hide-icon {
	position: relative;
	top: 0.2em;
}

.post-hidden {
	opacity:0.5;
}